body{
	background: url('img/wallpaper.jpg');
}
.cajas{
	display: inline-block;
	width: 25%;
	margin: 5px 3%;
	padding: 0;
	background: url("img/tapa.png");
	background-size: 100%; 
}
img{
  transition: all 0.8s linear;
  backface-visibility: hidden;
  width: 100%;
  opacity:0;
}

.hide{
	opacity:1;
	transform: rotateY(360deg);
	transition: all 0.8s linear;
}