body{
	background: url('img/wallpaper.jpg');
}

#tablero > div{
	display: inline-block;
	width: 150px;
	margin: 5px 3%;
	padding: 0;
	background: url("img/tapa.png");
	background-size: 100%; 
}

img{
  transition: all 0.8s linear;
  backface-visibility: hidden;
  width: 100%;
  opacity:0;
}

.show{
	opacity:1;
	transform: rotateY(360deg);
	transition: all 0.8s linear;
}

